.container
  .row
    .span12
      #footer
        %ul.footer
          %li>
            Website built by
           
            %a{:href => "https://github.com/Nitjsefni"} Nitjsefni
            &
            %a{:href => "https://github.com/freeaq"} freeaq
            &
            %a{:href => "https://github.com/marcinplociennik"} marcinplociennik
          \  
          
        %ul